body{
  background-color: #dee1e5;
}

.jumbotron{
  -moz-border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px;
  border-radius: 0 0 25px 25px;

}

.item{
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;


}

.card-header{
  background-color: #343a40; /*#6593a6;*/
  color: white;
  -moz-border-radius: 25px 25px 0 0 !important;
  -webkit-border-radius: 25px 25px 0 0 !important;
  border-radius: 25px 25px 0 0 !important;
}
